prefix=C:\Users\user\AppData\Roaming\npm
save=false
userconfig=C:\Users\user\.npmrc

[database] 
user = dbuser 
password = dbpassword 
database = use_this_database

key[]="first value"
key[]="second value"