<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Rubik+Distressed"
    />
    <style>
      .nice-font2 {
        font-family: "Rubik Distressed", serif;
      }
    </style>
  </head>
  <body>
    <!-- <h1 class="nice-font2">font 2 preconnect</h1> -->
  </body>
</html>
