<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- <link rel="preload" as="script" href="./utils.js" /> -->
    <!-- <link rel="prefetch" as="image" href="./assets/footer.jpg" /> -->
    <!-- <script src="./utils.js"></script> -->
    <style>
      @font-face {
        font-family: myFirstFont;
        src: url("/assets/fonts/Rosalie.otf");
      }
      .nice-font {
        font-family: myFirstFont, serif;
      }
      .nice-font2 {
        font-family: "Rubik Distressed", serif;
      }
    </style>
    <script src="./another.js"></script>
    <!-- <img src="./assets/butterfly.png" /> -->
    <script src="./b.js"></script>
    <script
      async
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.3.1.js"
    ></script>
    <!-- <link rel="preload" as="script" href="./a.js" /> -->
    <link rel="stylesheet" href="./style.css" />
    <link rel="preload" as="image" href="./assets/footer.jpg" />
  </head>
  <body>
    <img src="./assets/footer.jpg" />
    <h1 class="blue-big nice-font">GOOD</h1>
    <script src="./utils.js"></script>
  </body>
</html>
