<form action="/process" method="POST">
  <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
  <div>Favorite color: <input type="text" name="favoriteColor" /></div>
  <div>
    <button>Submit</button>
  </div>
</form>
