<nav>
  <a href="/">home</a>
  <a href="/about">about</a>
  <a href="/ffsdfs">404</a>
  <a href="/csrfhacker">csrfhacker</a>
  <a href="/resourcehint">resourcehint</a>
  <a href="/deferunusedcss">deferunusedcss</a>
  <a href="/deferunusedcss2">deferunusedcss optimized</a>
  <a href="/fouc">fouc</a>
  <a href="/preconnect">preconnect</a>
</nav>
